<div id= "footer" class="navbar   navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
        	<div class="copyright" style="float:left;margin-left:-8px;font-size:12px;">
2014 © Map2Act. All rights reserved.
<span class="divider">&nbsp;|&nbsp;</span>
<a href="/list-israel-startup">All companies</a>
<span class="divider">&nbsp;|&nbsp;</span>
<a href="/terms">Terms of Use</a>
<span class="divider">&nbsp;|&nbsp;</span>
<a href="/privacy">Privacy Policy</a>
</div>
        </div>
      </div>
    </div>