<div id= "footer" class="navbar   navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
        	<div class="copyright" style="float:left;margin-left:-8px;font-size:12px;">
2014 © mapped2act. All rights reserved.
</div>
        </div>
      </div>
    </div>