<div id="footer" class="navbar   navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="container">
			<div class="copyright" style="float:left;margin-left:-8px;font-size:12px; height: 30px;">
				2014 © mapped2act. All rights reserved.
				<span class="divider">&nbsp;|&nbsp;</span>
				<a data-toggle="modal" href="#modal_privacy">Privacy Policy</a>
				<span class="divider">&nbsp;|&nbsp;</span>
				<div class="share_btn">
				<div class="fb-like" data-href="http://www.mapped2act.org/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
				</div>

				<div class="share_btn">
				<script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script type="IN/Share" data-url="http://www.mapped2act.org/" data-counter="right"></script>
				</div>
					<div class ="share_btn">
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="Mapped2Act">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</div>
				<div id="spot-im-root"></div><script>!function(t,e,o){function p(){var t=e.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"==e.location.protocol?"https":"http")+":"+o,e.body.appendChild(t)}t.spotId="cd56dd9dbcbd2c6798a734a8b638a1e6",t.spotName="lobby",t.allowDesktop=!0,t.allowMobile=!0,t.containerId="spot-im-root",p()}(window.SPOTIM={},document,"//www.spot.im/embed/scripts/launcher.js");</script>

			</div>
		</div>
	</div>
</div>