<div id="modal_privacy" class="modal hide in"  >
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">x</button>
        <h3>מדיניות הפרטיות באתר</h3>
        </div>
        <div class="modal-body">

          <p>
             <b>Mapped2Act</b> מחויבת להגן על פרטיותם של תורמים ועל הנתונים שהם חולקים באמצעות האתר. מדיניות פרטיות זו מסבירה מה אנחנו עושים עם המידע שמוזן על ידי תורמים ומשתמשים באתר.
          </p>

              <p>
      <h5>שימוש בנתונים האישיים שלך </h5>
    <p>Mapped2ACT רשאית לשמור את הנתונים שתורמים ומשתמשים מפרסמים באתר, לרבות תוכן גולשים ונתונים.
</p>
    <p>Mapped2ACT שואפת לספק הגנה על המידע שלך. אנו עשויים לחשוף מידע אישי מזהה אודותיך לצד שלישי רק בנסיבות מוגבלות אלה: (1) בהסכמתך המפורשת; או (2) כאשר יש לנו אמונה בתום לב שהחוק מחייב זאת.

</p>

<p>מלבד הנסיבות שתוארו לעיל, אנו לא נמכור את נתוניך לצד שלישי (גם לא לשם כל מטרה מסחרית). 
</p>
         <h5>שימוש בנתונים האישיים שלך </h5>
         <p>אם ברצונך שנמחק את הנתונים שלך לגמרי, יש ליצור עמנו קשר דרך <a href="https://www.facebook.com/mapped2act" target="_blank">עמוד הפייסבוק שלנו </a> , או באימייל: <a href="mailto:danny@mapped2act.org" >danny@mapped2act.org </a>.</p>
        </div>


        <div class="modal-header" style="direction: ltr;">
        <h3>Mapped2ACT Privacy Policy</h3>
        </div>
        <div class="modal-body" style="direction: ltr;">
          <p>
          <b>Mapped2Act</b> is committed to protecting the privacy of Contributors and the data they share via the Site. This privacy policy explains what we do with the information that is entered by Contributors and Users on the Site.
          </p>
          
          <h5>Use of your personal data</h5>
          <p>Mapped2ACT may save data that Contributors and Users post to the Site. This includes user-generated content including data.</p>
          <p>Mapped2ACT seek to provide protection for your information. We may disclose personally identifiable information about you to third parties in limited circumstances, including: (1) with your explicit consent; or (2) when we have a good-faith belief the law requires it.</p>
          <p>Apart from the circumstances described above, we will not sell your data to third parties (this includes for all commercial purposes).</p>

          <h5>Removing your information</h5>

          <p>If you would like us to delete your data entirely, please contact us through our <a href="https://www.facebook.com/mapped2act" target="_blank">facebook page</a> or via <a href="mailto:danny@mapped2act.org" >danny@mapped2act.org </a>
</p>

        </div>
      
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" style="float: right;">close</a>
      </div>
    </div>