#modal_info.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3 אודותינו
  .modal-body
    %p
      Mapped2Act היא אפליקציית מפה, ללא מטרות רווח, בשלבי פיתוח מוקדמים. מטרתה היא מיפוי קהילת
      היזמות החברתית בישראל, קידום מעורבות אזרחית במטרות חברתיות, וביסוס פלטפורמת נטוורקינג של המגזר הרביעי (עסקי-חברתי) המתפתח.
      %br
      %br
      מיזמים חברתיים תופסים את מקומם על המפה העסקית במדינת ישראל, ומוגדרים כבר תחת הקטגוריה של מגזר עסקי רביעי, כזה שעומד בזכות עצמו. אנו מאמינים שלמגמה זו יש חשיבות מהותית בשינוי פני החברה הישראלית לטובה; ראשית כי עסקים חברתיים מונעים משורת רווח כפולה - כלכלית וקהילתית; ושנית, לנו, "האזרחים הקטנים", יש אפשרות אמתית להשפיע ולקחת חלק פעיל בתהליך הצמיחה של מגזר עסקי חשוב ומבורך זה.
    %ul
      %li
        %h5 מהי יזמות חברתית?
        %p
          יזמות חברתית היא האסטרטגיה של יצירת פתרונות חדשניים ופורצי דרך עבור בעיות חברתיות, המשלבת שליחות חברתית וגישות פיתוח וניהול עסקיות.בעוד שיזם עסקי מודד ביצועים ע"פ שורת רווח כלכלית בלבד,יזם חברתי ישאף לחוסן וליציבות כלכלית, תוך שהוא מונע מתוך עולם ערכים הרואה בתועלת חברתית את הסיבה לקיומו, וכציר מרכזי בפעילותו.
      %li
        %h5 מהו מיזם/עסק חברתי?
        %p
          מיזם חברתי מקדם מטרות חברתיות וסביבתית, תוך יישום שיטות ניהול עסקיות ובאמצעות פעילות עסקית. העסק החברתי נדרש לקיים את עצמו, ובה בעת להיות רווחי. מחוייבותו של העסק ליישום מטרותיו החברתיות, יוצרת עבורו הוצאות נוספות שאינן קיימות עבור עסק שאינו חברתי.
          בהתאם לזאת, העסק החברתי אינו חותר בראש ובראשונה למקסימום רווח כספי, בניגוד לעסק שאיננו חברתי.
          נהוג לומר שעסק חברתי מנהל שורת רווח כפולה (כלכלית וחברתית),  וזאת באופן מאוזן.
      %li
        %h5 מהו המגזר הרביעי?
        %p
          המגזר הרביעי (גם "המגזר ההיברידי"), הינו שמו של המגזר המתפתח, השואף לשלב שיטות מעולם העסקים הקלאסי עם מטרות המגזר השלישי. המגזר הרביעי הוא מגזר העסקים החברתיים.
    .modal-header{:style => "direction: ltr;"}
      %h3 ABOUT US
    .modal-body{:style => "direction: ltr;"}
      %p
        Mapped2Act is an early stage web map application and community interest project.
        %br
        Its aim is to map the Israeli social entrepreneurship sphere while promoting social activism, and to establish a digital networking platform for the evolving social business sector aka the hybrid sector.
        %br
        %br
        "Social entrepreneurship is the process of pursuing innovative solutions to social problems. More specifically, social entrepreneurs adopt a mission to create and sustain social value. They pursue opportunities to serve this mission, while continuously adapting and learning. 
        %br
        %br
        They draw upon appropriate thinking in both the business and nonprofit worlds and operate in all kinds of organizations: 
        %ul{style: "list-style-type: circle;"}
          %li large and small
          %li new and old 
          %li religious and secular 
          %li nonprofit for-profit, and hybrid.
        %br
        Business entrepreneurs typically measure performance in profit and return alone, but social entrepreneurs also take into account a positive return to society."  (from Wikipedia) 



  .modal-footer
    %a.btn{"data-dismiss" => "modal", :href => "#", :style => "float: right;"} Close



