%html
  %head
 
    
    %title Mapped2act 
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}
      %meta{:charset => "UTF-8"}

  %body

    .container
      .canvas
        #map_canvas.embedded
      .sidebar
        = render "menu_embedded"

