.alert-container{style: "margin-top: 60px; width: 940px; left: 20px;"}
  - flash.each do |name, msg|
    %div{:class => "alert alert-#{name == :notice ? 'success' : 'error'} fade in"}
      %a.close{"data-dismiss" => "alert"} ×
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    

